<form action="add_todo" method="post">

<label for="email">Email Address:</label><br>
  <input type="text" id="email" 
  name="email" placeholder="janedoe@gmail.com">  <br><br>

<label for="title">Title:</label><br>
  <input type="text" id="title" name="title" 
  placeholder="Todo Title"><br><br>

<label for="content">Content:</label><br>
  <input type="text" id="content" name="content" 
  placeholder="Todo Content"><br><br>

<label for="priority">Priority:</label><br>
  <select id="priority" name="priority">
  <option value="U">Urgent</option>
  <option value="H">High</option>
  <option value="M">Medium</option>
  <option value="L">Low</option>
  </select><br></br>
  
  <button type="submit">Submit</button>
<br></br>
<a href="/">Home Page</a>