<h2>Find user</h2>
<form action="list_todos" method="post">
<label for="email">Email:</label>
<input type="text" id="email" name="email" placeholder="Janedoe@gmail.com"><br></br>
  <button type="submit">Submit</button>
<br></br>

<a href="/user_signup">User Signup</a><br></br>
<a href="/remove_user">Remove User</a><br></br>
<a href="/add_todo">Add Todo</a><br></br>