<h2>All users and todos</h2>

<nav>
  <a href="/user_signup">User Signup</a>
  <a href="/remove_user">Remove User</a>
  <a href="/add_todo">Add Todo</a>
  <a href="/edit_todo">Edit Todo</a>
</nav>

<div class="user-container">
  {{#each users}}
    {{> user_card this}}
  {{/each}}
</div>