<h2>Remove user</h2>
<form action="/remove_user" method="post">
  <label for="email">Email:</label>
  <input type="text" id="email" name="email" placeholder="Janedoe@gmail.com" />
  <button type="submit">Remove User</button>
</form>

<a href="/">Home Page</a>