<h2>Remove user</h2>
<form action="/remove_user" method="post">
<label for="email">Email:</label>
<input type="text" id="email" name="email" placeholder="Janedoe@gmail.com"><br></br>
  <button type="submit">Remove User</button>
<br></br>

<a href="/">Home Page</a><br></br>