<h1>Sign up a new user</h1>

<form action="/user_signup" method="post">

  <label for="firstName">First Name:</label><br />
  <input type="text" name="firstName" placeholder="Jane" />

  <label for="lastName">Last Name:</label>
  <input type="text" name="lastName" placeholder="Doe" />

  <label for="email">Email Address:</label>
  <input type="text" name="email" placeholder="janedoe@gmail.com" />

  <label for="notifSettings">Notification Settings:</label>
  <select name="notifSettings">
    <option value="A">All Notifications</option>
    <option value="U">Urgent Notifications Only</option>
    <option value="N">No Notifications</option>
  </select>

  <button type="submit">Submit</button>
</form>

<a href="/">Home Page</a>