<form action="/user_signup" method="post">
  
<label for="firstName">First Name:</label><br>
<input type="text" name="firstName" placeholder="Jane"><br></br>
  
<label for="lastName">Last Name:</label><br>
<input type="text" name="lastName" placeholder="Doe"><br><br>
  
<label for="email">Email Address:</label><br>
<input type="text" name="email" placeholder="janedoe@gmail.com"><br><br>
  
  <label for="notifSettings">Notification Settings:</label><br>
  <select name="notifSettings">
  <option value="A">All Notifications</option>
  <option value="U">Urgent Notifications Only</option>
  <option value="N">No Notifications</option>
</select><br></br>
  
  <button type="submit">Submit</button>
<br></br>
<a href="/">Home Page</a>